.caderno {
    width: 100%;
    min-height: 300px;
    font-size: 18px;
    line-height: 30px;
    padding: 14px 10px;
    border: 2px solid #333;
    background: repeating-linear-gradient(
      white 0px, 
      white 26px,  /* Espaço antes da linha */
      lightgray 28px, /* Linha */
      white 30px /* Volta ao fundo branco */
    );
    background-size: 100% 30px;
    background-position: 0px 12px;
    outline: none;
    resize: vertical;
    overflow:scroll;
  }
